<h1 class="header">All Cocktails</h1>

<div class="d-flex flex-wrap">
   <% @cocktails.each do |cocktail| %>
    <div class="card mr-3">
      <p> <%= link_to cocktail.name.capitalize, cocktail, class: "card-body" %></p>
    </div>
  <% end %>
</div>


